---
import Form from "../../footer/Form";
import CloseModalBtn from "../btn/CloseModalBtn";
const { script } = Astro.props;
---

<div class="modal">
  <div class="modal__content">
    <CloseModalBtn closeModalOf=".modal" client:load />
    <Form scriptData={script} client:load />
  </div>
</div>
